server:
  servlet:
    context-path: /api

spring:
  application:
    name: devops
  datasource:
    url: jdbc:h2:file:./data/devops
    driver-class-name: org.h2.Driver
    username: sa
    password:
    # H2 콘솔 활성화
  h2:
    console:
      enabled: true
      path: /h2-console
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
