# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will build a Java project with Gradle and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-gradle

name: Java CI with Gradle

on:
  push:
    branches: [ "feature/cicd-kustomize" ]
    paths:
      - 'portal/backend/**'
      - '.github/workflows/portal-backend-build.yaml'
  pull_request:
    branches: [ "feature/cicd-kustomize" ]
    paths:
      - 'portal/backend/**'
      - '.github/workflows/portal-backend-build.yaml'

jobs:
  build:

    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write

    steps:
    - uses: actions/checkout@v4
      with:
        ref: ${{ github.ref_name }}

    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v3
      with: 
        gradle-version: '8.5'

    - name: Build
      run: gradle bootJar
      working-directory: portal/backend

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Set tag
      id: tag
      run: echo "tag=$(date +'%Y%m%d')-${GITHUB_SHA::7}" >> $GITHUB_OUTPUT
    - name: Build and push Docker image to GHCR
      uses: docker/build-push-action@v5
      with:
        context: portal/backend
        push: true
        tags: ghcr.io/${{ github.repository_owner }}/devops-portal-backend:${{ steps.tag.outputs.tag }}
        platforms: |
          linux/amd64
          linux/arm64

    - name: Update kustomize image tag
      run: |
        cd portal/k8s/overlays/dev
        kustomize edit set image ghcr.io/hjmoons/devops-portal-backend=ghcr.io/${{ github.repository_owner }}/devops-portal-backend:${{ steps.tag.outputs.tag }}

    - name: Commit and push
      run: |
        git config user.name "${{ github.actor }}"
        git config user.email "${{ github.actor }}@users.noreply.github.com"
        git add portal/k8s/overlays/dev/kustomization.yaml
        git commit -m "Update portal-backend image to ${{ steps.tag.outputs.tag }}"
        git push origin ${{ github.ref_name }}